Django==4.0.2
dj-database-url==0.4.2
psycopg2-binary
xhtml2pdf==0.2.5
boto3==1.21.3
django-storages==1.12.3
django-cors-headers
django-xhtml2pdf==0.0.4
reportlab==3.6.6
xlrd==2.0.1
gunicorn==19.7.1
whitenoise==3.3.0
psycopg2==2.6.2