<!DOCTYPE html>
<html>
<head>
	<title>be1.ru</title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" style="width:1010px">
	<tbody>
		<tr>
			<td rowspan="7">Загрузка и отправитель</td>
			<td colspan="2" rowspan="2">Адрес:&nbsp;</td>
			<td colspan="9" rowspan="2">---</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">Дата/Время:&nbsp;</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2">Наименование склада:</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2">Компания:</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2" rowspan="2">ФИО/Номер телефона::</td>
			<td colspan="9" rowspan="2">---</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td rowspan="7">Выгрузка и получатель</td>
			<td colspan="2" rowspan="2">Адрес:&nbsp;</td>
			<td colspan="9" rowspan="2">---</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td colspan="2">Дата/Время:&nbsp;</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2">Наименование склада:</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2">Компания:</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2" rowspan="2">ФИО/Номер телефона::</td>
			<td colspan="9" rowspan="2">---</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td rowspan="6">Груз</td>
			<td colspan="2">Наименование:</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2">Требуемая температура:</td>
			<td colspan="9">Согласно ТН</td>
		</tr>
		<tr>
			<td colspan="2">Вид упаковки:</td>
			<td colspan="9">Согласно ТН</td>
		</tr>
		<tr>
			<td colspan="2">Количество мест:</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2">Вес-кг:</td>
			<td colspan="9">Согласно ТН</td>
		</tr>
		<tr>
			<td colspan="2">Объем-м3:</td>
			<td colspan="9">Согласно ТН</td>
		</tr>
		<tr>
			<td rowspan="3">Транспорт</td>
			<td colspan="2">Тип транспорта:&nbsp;</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2">Марка:&nbsp;</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2">Регистрационный номер:&nbsp;</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td rowspan="4">Водитель</td>
			<td colspan="2">ФИО:&nbsp;</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2">Паспортные данные:</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2">Водительское удостоверение:</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td colspan="2">Контактный телефон:</td>
			<td colspan="9">---</td>
		</tr>
		<tr>
			<td>Стоимость</td>
			<td colspan="11">---</td>
		</tr>
		<tr>
			<td>Условие оплаты</td>
			<td colspan="11">---</td>
		</tr>
		<tr>
			<td>Доп. условия:</td>
			<td colspan="11">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="7" rowspan="2">119334, г. Москва, ул. Вавилова, д.24, корп.1, пом ком ХХIХ/3<br />
			ИНН/КПП: 7736322345/ 773601001<br />
			ОГРН 1197746348458<br />
			Расчетный счет: 40702810100020001287<br />
			Корреспондентский счет: 30101810400000000225 в ГУ Банка России по ЦФО<br />
			БИК: 044525225 ПАО Сбербанк<br />
			тел./факс: 8 800 100 72 69, https://sberlogistics.ru/&nbsp;</td>
			<td colspan="5" rowspan="2">Реквизиты Исполнителя:</td>
		</tr>
		<tr>
		</tr>
	</tbody>
</table>
</body>
</html>
